@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(./images/baguio.png);
  background-size: cover;
  background-position: center;
}

.navigation {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .logo {
  width: 135px;
  cursor: pointer;
}

.navigation ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.navigation ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}

.navigation ul li a::hover {
  opacity: 30%;
  color: grey;
}

.navigation .usrlogin {
  background-color: #f2f2f2;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

.navigation .usrlogin a {
  text-decoration: none;
}

.navigation .usrlogin a:hover {
  background-color: #cccccc;
}

.navigation .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.navigation .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}

.content {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  width: 60%;
  padding: 40px;
}